<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Music Controller</title>
    <link rel="stylesheet" href="assets/styles/index.css">
    <link rel="stylesheet" href="assets/styles/controller/footerNavigation.css">
    <link rel="stylesheet" href="assets/styles/controller/PlayQueue.css">
    <link rel="stylesheet" href="assets/styles/controller/UploadSong.css">

    <script src="./js/config.js"></script>
    <script src="./js/controller/controller.js"></script>
    <script src="./js/controller/footerNavigation.js"></script>
    <script src="./js/controller/animations.js"></script>
    <script src="./js/controller/UploadSong.js"></script>
</head>
<body>
    <nav id="chatNavigation">
        <h1 id="mainTitle">Web Music Controller</h1>
        <span class="disconnected connectionStatus" id="connectionStatus" style="display:none;"></span>
        <button id="connect" style="display:none;">Connect</button>
        <button id="disconnect" disabled="disabled" style="display:none;">Disconnect</button>
        <div>
            <span id="songsCounter">0 songs</span>
            <span> - </span>
            <span id="currentSong">None</span>
        </div>
    </nav>
    <div id="content">
        <div id="songs"></div>
        <div class="windowContainer" id="windowContainer_0" style="display: none;"></div>
        <div class="windowContainer" id="windowContainer_1" style="display: none;"></div>
    </div>
    <nav id="footerNavigation">
        <button id="playQueueButton" onclick="displayPlayQueue()">See Queue</button>
        <button id="uploadSongButton" onclick="uploadSong()">
            <img src="assets/icons/file_upload_white_24dp.svg" alt="Upload new song">
        </button>
        <button id="restartQueueButton" onclick="restartQueue()">
            <img src="assets/icons/restart_alt_white_24dp.svg" alt="Restart queue">
        </button>
    </nav>
    <footer id="footer">
        <h3>Powered by GMA Software</h3>
    </footer>
</body>
</html>