:root{
    font-size: 16px;
    --niceColor: #04d87e;
    --badColor: #f94646;
    --borderColor: #d6d6d6;
    --darkGrey: #3d4242;
}
html,body{
    overflow-x: hidden;
    overflow-y: auto;
}
body{
    background-color: #1f29e2;
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 5em;
    font-size: 1em;
}
.connectionStatus{
    width: .75em;
    height: .75em;
    border-radius: 50%;
}
.disconnected{
    background-color: red;
    border: 0.1em rgba(255, 0, 0, 0.5) solid;
}
.connected{
    background-color: #1eff00;
    border: 0.1em rgba(30, 255, 0, 0.5) solid;
}

#mainTitle{
    text-align: center;
    margin:0;
    padding: .25em;
    color: #ededed;
    text-transform: uppercase;
    width:100%;
}
#chatNavigation{
    font-size: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: .5em;
    align-items: center;
    padding: .75em;
    background-color: #1f29e2;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    z-index:1;
    position: relative;
}
#chatNavigation button{
    font-size: 1em;
    padding: .25em 1em;
    border: none;
    border-radius: .2em;
    font-weight: bold;
    cursor: pointer;
    transition: .15s;
}
#chatNavigation button:hover,
#chatNavigation button:active{
    opacity: .85;
}

#content{
    font-size: 1em;
}

#songs{
    background-color: #192742;
    height: 400px;
    overflow: auto;
    padding: 1.5em 1em;
    display: flex;
    flex-flow: column;
}
#songs > button{
    background-color: #212121;
    padding: 1em;
    color: #e1e1e1;
    font-weight: 600;
    border: none;
    border-top: 1px #323232 solid;
    border-bottom: 1px #323232 solid;
}
#songs > button.reproducing{
    background-color: #1f29e2;
}