:root{
    font-size: 16px;
    --niceColor: #04d87e;
    --badColor: #f94646;
    --borderColor: #d6d6d6;
    --darkGrey: #3d4242;
}
*{
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
    overflow-y: auto;
}
body{
    background-color: #0f1129;
    font-family: sans-serif;
    margin: 0;
    padding:0;
    margin-bottom: 5em;
    font-size: 1em;
    color: white;
    font-weight: 100;
}
.connectionStatus{
    width: .75em;
    height: .75em;
    border-radius: 50%;
}
.disconnected{
    background-color: red;
    border: 0.1em rgba(255, 0, 0, 0.5) solid;
}
.connected{
    background-color: #1eff00;
    border: 0.1em rgba(30, 255, 0, 0.5) solid;
}

#mainTitle{
    text-align: center;
    margin:0;
    padding: .25em;
    color: #ededed;
    text-transform: uppercase;
    width:100%;
    font-weight: 300;
    font-size: 1.25em;
}
#chatNavigation{
    font-size: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: .5em;
    align-items: center;
    padding: .75em;
    background-color: #1f29e2;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    z-index:2;
    position: fixed;
    top:0;
    left:0;
    width:100%;
}
#chatNavigation .button{
    font-size: 1em;
    padding: .25em 1em;
    border: none;
    border-radius: .2em;
    font-weight: bold;
    cursor: pointer;
    transition: .15s;
    font-weight: 400;
}
#chatNavigation button:hover,
#chatNavigation button:active{
    opacity: .85;
}

#content{
    margin-top: 82px;
    font-size: 1em;
}

#songs{
    background-color: #192742;
    height: 600px;
    overflow: auto;
    padding: 1.5em 1em;
    display: flex;
    flex-flow: column;
    list-style-type: none;
}
.song{
    background-color: rgba(33, 33, 33, 0.75);
    padding: 1em;
    color: #e1e1e1;
    border: none;
    border-top: .5px rgba(255, 255, 255, 0.1) solid;
    border-bottom: .5px rgba(255, 255, 255, 0.1) solid;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.song > button{
    background: none;
    border: none;
    color: #e1e1e1;
    font-weight: 100;
    cursor: pointer;
}
.song > button:hover{
    color: #ababab;
}
.song.reproducing{
    background-color: rgba(31, 41, 226, 0.5);
}
#footer{
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.5);
    margin: 0;
    padding: 1em;
    min-height: 6em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#footer > h3{
    margin:0;
    color: white;
    text-align: center;
    font-weight: 100;
}





.windowContainer{
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    position: fixed;
    z-index: 10;
    flex-flow: column;
    justify-content: center; 
    align-items: center;
}