#footerNavigation{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.5);
    font-size: 1em;
    padding: 1em;
    z-index: 5;
}
#footerNavigation > button{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}