#uploadSong{
    position: relative;
    display: flex;
    flex-flow: column;
    background: rgba(0,0,0,0.7);
    width: auto;
    border-radius: 1em;
    padding: 4em 1em;
    list-style: none;
}
#uploadSong > nav{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 4em;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
#uploadSong > nav button{
    cursor: pointer;
    background: none;
    border: none;
}
#uploadSong > nav button:hover{
    opacity: 0.65;
}
#uploadSong > iframe{
    height: 13em;
    border: none;
}
#uploadSong > h2{
    text-align: center;
}